$sandstorm:#F7D54C;
$brightGrey:#2C3E50;

.buttonWrapper {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: $sandstorm;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    .buttonIcon {
        width: 30px;
        height: 30px;
        margin: 7px;
    }

    .buttonText {
        color: $brightGrey;
        text-align: right;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        margin-right: 10px;
    }
}